<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>    
    <ion-slide>
      <ion-card>
        <img src="https://picsum.photos/id/237/300/300">
        <ion-card-header>
          <ion-card-title>Perro</ion-card-title>
          <ion-card-subtitle>Descrpición del perro</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
            <div>
              <ion-chip color="primary">
                <ion-label>$100</ion-label>
              </ion-chip>
            </div>
          </div>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>            
            <ion-fab-list side="top">
              <ion-fab-button color="secondary">
                <ion-icon name="cart"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>          
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
